<!DOCTYPE html>
<html>
  <head>
    <title>MonitoriaRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= menu_principal %>

    <%= yield %>
  </body>
  <!-- JS -->
  <script type="text/javascript">
    function alerta(){
      alert("Seja Bem Vindo!");
    }
  </script>
</html>
